
        body {
            background-color: rgb(42, 126, 165);
            font-family: Arial, sans-serif;
        }
        header {
            text-align: center;
            color: white;
        }
        .wrapper {
            display: flex;
            justify-content: center;
            margin-top: 50px;
        }
        .container {
            margin: 10px;
        }
        input {
            padding: 10px;
            font-size: 1rem;
            margin-top: 10px;
            width: 150px;
            text-align: center;
        }
